.weather{
  .container{
    width:100%;
  }
  .header
    {
        background-color: #888888;
        width: 100%;
        font-size: large !important;
        color: White;
        font-weight: bold;
        width:100%;
        padding: 5px 10px;
    }
    .topRow
    {
        text-align: center;
        color: #888888;
        font-weight: bold;
        font-size: small;
    }
    .bottomRow
    {
        text-align: center;
        font-size: small;
        color: Black;
    }
    .outdv
    {
        padding: 2px;
        width: 400px;
        background: none repeat scroll 0 0 #FFFFFF !important;
        border: 1px solid #999999 !important;
        border-collapse: collapse !important;
        box-shadow: 5px 5px 5px #AAAAAA !important;
    }
    .shdw
    {
        background: none repeat scroll 0 0 #FFFFFF !important;
        border-collapse: collapse !important;
        box-shadow: 5px 5px 5px #AAAAAA !important;
    }
    .seperator
    {
        margin-top: 5px;
        border-bottom: 1px solid #DBD9D9;
        padding-bottom: 5px;
    }
    .pad
    {
        padding-bottom: 5px;
        width: 40px;
    }
    .colr
    {
        color: Red;
    }
    .lstupd
    {
        padding:5px 5px 0px 5px;
        font-size:xx-small !important;
    }
}